html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

main {
    flex: 1;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

    .card h3 {
        margin-bottom: 15px;
    }

.bg-light {
    font-size: 1.05rem;
}

.footer {
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: auto;
    line-height: normal;
    white-space: normal;
}
